
API WorldCup/API WorldCup/bin/
API WorldCup/API WorldCup/obj/
API WorldCup/WorldCupConsultingService/WorldCupConsultingService/PriceConsultingService/bin/
API WorldCup/WorldCupConsultingService/WorldCupConsultingService/PriceConsultingService/obj/
API WorldCup/WorldCupConsultingService/WorldCupConsultingService/PriceConsultingServiceVO/bin/
API WorldCup/WorldCupConsultingService/WorldCupConsultingService/PriceConsultingServiceVO/obj/